body {
  background-color: #627676;
  font-family: "Sedan", serif;
}
.my-weather {
  background: #bae8e8;
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: #3b4444;
}
header {
  border-bottom: #ffffff;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0 0 0;
}
.search-form-input {
  background-color: #ffffff;
  border: none;
  width: 80%;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 18px;
}
.search-form-submit {
  background-color: #272343;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-weather-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}
.current-weather-details {
  font-size: 16px;
  line-height: 20px;
  color: #272343;
}
.current-weather-details strong {
  color: #b61aae;
}
.current-weather-temperature {
  display: flex;
}
.current-weather-temperature-icon {
  width: 88px;
  height: 88px;
}
.current-weather-temperature-value {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}
.current-weather-temperature-unit {
  margin-top: 12px;
  font-size: 28px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}

a {
  color: #272343;
}

footer {
  border-bottom: #ffffff;
  padding: 30px 0 0 0;
  text-align: center;
  color: #829292;
  font-size: 13px;
}
